<div class="back padeed" >
    <div class="product-area section-space-y-axis-100 ">
        <div class="container">
            <div class="py-5">
                <h2 class="title mb-0">SPECIAL DEALS</h2>
            </div>
            <div class="row vh-100">
                <div class="col-lg-9">
                    <div class="product-item-wrap row">
                        <div class="col-lg-8 col-md-6 back2 padded-img border border-5 border-dark ">
                            <div class="product-item ">
                                <div class="product-content">
                                    <a class="product-name pb-1" href="shop.html">Auto Clutch & Brake</a>
                                    <div class="price-box">
                                        <div class="price-box-holder">
                                            <span>Price:</span>
                                            <span class="new-price text-primary">$120.00</span>
                                        </div>
                                    </div>
                                    <div class="product-add-action ">
                                        <ul class=" navbar-nav  me-auto mb-2 mb-lg-0 ">
                                            <li class="mx-1">
                                                <a href="cart.html" >
                                                    <i class="fas fa-shopping-cart"></i>
                                                </a>
                                            </li>
                                            <li  class="mx-1" >
                                                <a href="#" >
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </li>
                                            <li  class="mx-1">
                                                <a href="wishlist.html">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="mx-1">
                                                <a href="compare.html">
                                                    <i class="fas fa-random"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-7 back3  padded-img border border-5 border-dark ">
                            <div class="product-item">

                                <div class="product-content">
                                    <a class="product-name pb-1" href="shop.html">Fuel injector</a>
                                    <div class="price-box">
                                        <div class="price-box-holder">
                                            <span>Price:</span>
                                            <span class="new-price text-primary">$130.00</span>
                                        </div>
                                    </div>
                                    <div class="product-add-action ">
                                        <ul class=" navbar-nav  me-auto mb-2 mb-lg-0 ">
                                            <li class="mx-1">
                                                <a href="cart.html" >
                                                    <i class="fas fa-shopping-cart"></i>
                                                </a>
                                            </li>
                                            <li  class="mx-1" >
                                                <a href="#" >
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </li>
                                            <li  class="mx-1">
                                                <a href="wishlist.html">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="mx-1">
                                                <a href="compare.html">
                                                    <i class="fas fa-random"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-7 back4  padded-img border border-5 border-dark ">
                            <div class="product-item">

                                <div class="product-content">
                                    <a class="product-name pb-1" href="shop.html">A/C Compressor</a>
                                    <div class="price-box">
                                        <div class="price-box-holder">
                                            <span>Price:</span>
                                            <span class="new-price text-primary">$150.00</span>
                                        </div>
                                    </div>
                                    <div class="product-add-action ">
                                        <ul class=" navbar-nav  me-auto mb-2 mb-lg-0 ">
                                            <li class="mx-1">
                                                <a href="cart.html" >
                                                    <i class="fas fa-shopping-cart"></i>
                                                </a>
                                            </li>
                                            <li  class="mx-1" >
                                                <a href="#" >
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </li>
                                            <li  class="mx-1">
                                                <a href="wishlist.html">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="mx-1">
                                                <a href="compare.html">
                                                    <i class="fas fa-random"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-7 back5  padded-img border border-5 border-dark ">
                            <div class="product-item">
                                <div class="product-content">
                                    <a class="product-name pb-1" href="shop.html">Shock Absorbers</a>
                                    <div class="price-box">
                                        <div class="price-box-holder">
                                            <span>Price:</span>
                                            <span class="new-price text-primary">$180.00</span>
                                        </div>
                                    </div>
                                    <div class="product-add-action ">
                                        <ul class=" navbar-nav  me-auto mb-2 mb-lg-0 ">
                                            <li class="mx-1">
                                                <a href="cart.html" >
                                                    <i class="fas fa-shopping-cart"></i>
                                                </a>
                                            </li>
                                            <li  class="mx-1" >
                                                <a href="#" >
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </li>
                                            <li  class="mx-1">
                                                <a href="wishlist.html">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="mx-1">
                                                <a href="compare.html">
                                                    <i class="fas fa-random"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 pt-7 back6  padded-img border border-5 border-dark ">
                            <div class="product-item">

                                <div class="product-content">
                                    <a class="product-name pb-1" href="shop.html">Catalytic Converter</a>
                                    <div class="price-box">
                                        <div class="price-box-holder">
                                            <span>Price:</span>
                                            <span class="new-price text-primary">$200.00</span>
                                        </div>
                                    </div>
                                    <div class="product-add-action ">
                                        <ul class=" navbar-nav  me-auto mb-2 mb-lg-0 ">
                                            <li class="mx-1">
                                                <a href="cart.html" >
                                                    <i class="fas fa-shopping-cart"></i>
                                                </a>
                                            </li>
                                            <li  class="mx-1" >
                                                <a href="#" >
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            </li>
                                            <li  class="mx-1">
                                                <a href="wishlist.html">
                                                    <i class="fas fa-heart"></i>
                                                </a>
                                            </li>
                                            <li class="mx-1">
                                                <a href="compare.html">
                                                    <i class="fas fa-random"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 pt-7 pt-lg-0 back7  border border-5 border-dark ">
                    <div class="product-banner img-hover-effect">
                        <div class="product-banner-img fixed-height img-zoom-effect">
                            <div class="product-banner-content text-white pt-5 ps-3 pb-5">
                                <h3 class="category">Mage Sale</h3>
                                <h2 class="offer">30% Off</h2>
                                <p class="short-desc mb-7">To satisfy our customer we try to give support online</p>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size btn-primary" href="shop.html">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 pt-55">
                    <div class="button-wrap">
                        <a class="btn btn-link text-danger with-underline p-0" href="shop.html">See More Products</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
