<nav class="navbar navbar-expand-lg navbar-light sticky-top bg-white index">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="assets/images/logo/dark.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="me-auto">
      </ul>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0  ">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                HOME
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Alignment
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" [routerLink]="['/tienda']">Alignment</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CHARACTERS
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" [routerLink]="['/rick']">Rick and Morty</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                TEAM
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" [routerLink]="['/seleccion']">Argentina Soccer Team</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Contact</a>
            </li>
          </ul>
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0"> 
            <li class="nav-item"><a class="nav-link" [routerLink]="['/iniciarsesion']"><i class="far fa-user-circle"></i></a></li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-search"></i></a></li>
            <li class="nav-item"><a class="nav-link" href=""><i class="far fa-heart"></i></a></li>
            <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-shopping-bag"></i></a></li>
          </ul>
    </div>

  </div>
</nav>