<section id="tienda" class="padded py-5 marginbot">
    <div class="container animate__animated animate__backInLeft">
        <h2 class="py-5 m-5">Seleccion</h2>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item" 
                        *ngFor="let filaposicion of listaPosicion"
                        (click)=seleccionar(filaposicion)
                        [class.active]="filaposicion === posicionElegida" >
                        <h5>{{filaposicion.idPosicion}}. {{filaposicion.nombre}}</h5>
                     </li>
                </ul>    
            </div>

            <div class="col-md-9 animate__animated animate__backInRight" *ngIf="posicionElegida">
                <h3>{{posicionElegida.nombre}}</h3>
                <app-seleccion-posicion [PosicionX]="posicionElegida">
                </app-seleccion-posicion>
            </div>
        </div>    
    </div>
</section>   
