<div class="back padded">
    <div class="container">
        <div class="row row-cols-1  row-cols-md-3 row-cols-sm-2  ">
            <figure class="col back-car-1 text-white   p-4 border border-5 border-white">
                <h3 class="">From $96</h3>
                <h2 class="title mb-5">Latest <br> Car Wheel</h2>
                <div class="button-wrap">
                    <a class="btn btn-primary" href="shop.html">Shop Now</a>
                </div>
            </figure>
            <figure class="col back-car-2 text-white  p-4 border border-5 border-white">
                <h3 class="">From $96</h3>
                <h2 class="title mb-5">Latest <br> Car Wheel</h2>
                <div class="button-wrap">
                    <a class="btn btn-primary" href="shop.html">Shop Now</a>
                </div>
            </figure>
            <figure class="col back-car-3 text-white  p-4 border border-5 border-white">
                <h3 class="">From $96</h3>
                <h2 class="title mb-5">Latest <br> Car Wheel</h2>
                <div class="button-wrap">
                    <a class="btn btn-primary" href="shop.html">Shop Now</a>
                </div>
            </figure>
        </div>
    </div>


    
          
          
          
          <div class="shipping-area  margin">
            <div class="container">
                <div class="back-car-4 p-5">
                    <div class="row  p-5 py-xl-0">
                        <div class="col-lg-4">
                            <div class="d-flex">
                                <div class="shipping-img">
                                    <img src="assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h2 class="title">Free Shipping</h2>
                                    <p class="short-desc mb-0">Provide free home delivery for all product over $100</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 pt-4 pt-lg-0">
                            <div class="d-flex">
                                <div class="shipping-img">
                                    <img src="assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h2 class="title">Online Support</h2>
                                    <p class="short-desc mb-0">To satisfy our customer we try to give support online</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 pt-4 pt-lg-0">
                            <div class="d-flex">
                                <div class="shipping-img">
                                    <img src="assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h2 class="title">Secure Payment</h2>
                                    <p class="short-desc mb-0">We ensure our product Good quality all times</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
