
          
          
          
          <!-- Begin Shipping Area -->
          <div class="shipping-area section-space-y-axis-100">
            <div class="container">
                <div class="shipping-bg" data-bg-image="assets/images/shipping/bg/1-1-1280x202.jpg">
                    <div class="row shipping-wrap py-5 py-xl-0">
                        <div class="col-lg-4">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h2 class="title">Free Shipping</h2>
                                    <p class="short-desc mb-0">Provide free home delivery for all product over $100</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 pt-4 pt-lg-0">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h2 class="title">Online Support</h2>
                                    <p class="short-desc mb-0">To satisfy our customer we try to give support online</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 pt-4 pt-lg-0">
                            <div class="shipping-item">
                                <div class="shipping-img">
                                    <img src="assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                                </div>
                                <div class="shipping-content">
                                    <h2 class="title">Secure Payment</h2>
                                    <p class="short-desc mb-0">We ensure our product Good quality all times</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shipping Area End Here -->