<section id="paises" class="padded bg-back py-5 ">
  <div class="container"> 

    <h2 class="text-center"><img class="animate__animated animate__zoomIn"
        src="https://milumonep3.000webhostapp.com/servicios/futbolistas/argentina.jpg" alt=""></h2>
    <div class="mb-3">  
      <label for="exampleFormControlInput1" class="form-label"></label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search "
        [(ngModel)]="jugadoresFilter.nombre">
    </div> 


    <p>
        <a class="btn btn-light" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Nuevo jugador
        </a>
 
      </p>
      <div class="collapse mb-3" id="collapseExample">
        <div class="card card-body">

            <form ngNativeValidate [formGroup]="futbolistasAgregarForm"            
            (ngSubmit)="agregarFutbolista(futbolistasAgregarForm.value)">
                <div class="mb-3">
                   <input type="text" class="form-control" id="exampleInput1" placeholder="Nombre jugador" 
                   formControlName="nombre" required minlength="2" >
                 </div>
                <div class="mb-3">
                   <input type="text" class="form-control" id="exampleInput2" placeholder="Edad"
                   formControlName="edad" required minlength="2" >
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInput3" placeholder="Pais"
                    formControlName="pais" required minlength="2" >
                  </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInput4" placeholder="Equipo"
                    formControlName="equipo" required minlength="2" >
                  </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInput5" placeholder="Image URL"
                    formControlName="image" required minlength="2" >
                  </div>
                <select class="form-select mb-3" formControlName="posicion" aria-label="Default select example"  > 
                    <option selected value="1"  >Delantero</option>
                    <option value="2">Defensa</option>
                    <option value="3">Extremo</option>
                    <option value="4">Mediocampista</option>
                    <option value="5">Portero</option>
                  </select>

                <button type="submit" class="btn btn-primary">Agregar</button>
                
              </form>
        </div>
      </div>


 

    <table class="table table-striped table-hover border border-white border-3 animate__animated animate__backInLeft">
      <thead>
        <tr class="headd">
          <th (click) = "setOrder('nombre')"
          [class.ordenactive]="order==='nombre'">Nombre
              <span [hidden]="!reverse">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
                  </svg>
            </span> 
            <span [hidden]="reverse">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                  </svg>
            </span> 
          </th>
          <th>Edad</th>
          <th>País</th>
          <th>Club</th>
          <th></th>
          <th></th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let futbolista of listaJugadores 
                                    | filterBy: jugadoresFilter 
                                    | orderBy: order: reverse
                                    | paginate: { itemsPerPage: 10, currentPage: paginaActual }" >
          <td [routerLink]="['/seleccion-detalle/'+futbolista.idFutbolista]">{{futbolista.nombre}}</td>
          <td [routerLink]="['/seleccion-detalle/'+futbolista.idFutbolista]">{{futbolista.edad}}</td>
          <td [routerLink]="['/seleccion-detalle/'+futbolista.idFutbolista]">{{futbolista.pais}}</td>
          <td [routerLink]="['/seleccion-detalle/'+futbolista.idFutbolista]">{{futbolista.equipo}}</td>
          <td ><fa-icon [icon]="faEdit" (click)="editarFutbolista(futbolista)"
            data-bs-toggle="modal" data-bs-target="#formulario-actualizar"></fa-icon></td>
          <td><fa-icon [icon]="faTimes" (click)="eliminarFutbolista(futbolista)"></fa-icon></td> 
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="paginaActual = $event"></pagination-controls>
  </div>
</section>

<div class="modal fade" id="formulario-actualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar futbolista</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form ngNativeValidate [formGroup]="futbolistasActualizarForm"            
      (ngSubmit)="actualizarFutbolista(futbolistasActualizarForm.value)"
      *ngIf="futbolistaActualizar">

      <div class="modal-body">  
            <div class="mb-3">
              <input type="text" class="form-control" 
              id="exampleInput1" placeholder="idFutbolista" 
              [(ngModel)]="futbolistaActualizar.idFutbolista"
              formControlName="idFutbolista" required minlength="2" readonly>
            </div>
            <div class="mb-3">
               <input type="text" class="form-control" 
               id="exampleInput2" placeholder="Nombre jugador" 
               [(ngModel)] = "futbolistaActualizar.nombre"
               formControlName="nombre" required minlength="2" >
             </div>
            <div class="mb-3">
               <input type="text" class="form-control" 
               id="exampleInput3" placeholder="Edad"
               [(ngModel)] = "futbolistaActualizar.edad"
               formControlName="edad" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" 
                id="exampleInput4" placeholder="Pais"
                [(ngModel)] = "futbolistaActualizar.pais"
                formControlName="pais" required minlength="2" >
              </div>
            <div class="mb-3">
                <input type="text" class="form-control" 
                id="exampleInput5" placeholder="Equipo"
                [(ngModel)] = "futbolistaActualizar.equipo"
                formControlName="equipo" required minlength="2" >
              </div>
            <div class="mb-3">
                <input type="text" class="form-control" 
                id="exampleInput6" placeholder="Image URL"
                [(ngModel)] = "futbolistaActualizar.image"
                formControlName="image" required minlength="2" >
              </div>
            <select class="form-select mb-3" formControlName="posicion" aria-label="Default select example" [(ngModel)] = "futbolistaActualizar.posicion"> 
                <option value="1">Delantero</option>
                <option value="2">Defensa</option>
                <option value="3">Extremo</option>
                <option value="4">Mediocampista</option>
                <option value="5">Portero</option>
              </select> 
       </div>  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="botonCerrar">Close</button>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
      </div> 
      
    </form>

    </div>
  </div>
</div>

