<div class="">
    <div class="container back-image vh-100">
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6 align-self-md-center padding pb-md-0">
                <div class="newsletter-content">
                    <h2 class="newsletter-title mb-4">Have a Special Discount</h2>
                    <h3 class="newsletter-sub-title text-primary mb-8">All New Car Parts</h3>
                    <form class="newsletter-form d-flex" id="mc-form" action="#" >
                        <div class="col-6">
                            <label for="inputPassword2" class="visually-hidden"></label>
                            <input type="password" class="form-control" id="inputPassword2" placeholder="Your Email Address">
                          </div>
                          
                            <button type="submit" class="btn btn-primary mb-3">suscribe</button>                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>